blinker
2captcha-python==1.2.4
attrs==24.2.0
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
fake-useragent==1.5.1
firebase-admin==6.5.0
beautifulsoup4==4.12.3
google-api-core==2.20.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
pillow==10.3.0
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
xmltodict==0.13.0
grpcio==1.62.1
grpcio-status==1.62.1
h11==0.14.0
httplib2==0.22.0
idna==3.10
msgpack==1.0.8
outcome==1.3.0.post0
packaging==24.1
prettytable==3.10.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.2
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.31.0
rsa==4.9
selenium==4.25.0
sniffio==1.3.1
pyautogui==0.9.54
sortedcontainers==2.4.0
trio==0.26.2
pandas==2.2.2
trio-websocket
typing_extensions==4.12.2
undetected-chromedriver==3.5.5
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.2.3
webdriver-manager==4.0.1
websockets==12.0
wsproto==1.2.0
selenium-base==4.31.6